html, body {
    background-color: rgb(237, 237, 237);
    font-family: 'Comfortaa', cursive;
}

.container {
    position: relative;
    align-content: center;
}

/* TIPOGRAFIA 
****************/

a {
    color: rgba(255, 255, 255, 0.665);
}

a:link {
    text-decoration: none;
    border: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer; 
}

/* BARRA DE NAVEGAÇÃO 
**************************/

.header-area {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 6em;
    background-color: rgba(0, 0, 0, 0.679);
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.960);
}

.logo-area {
    width: 30%;
    height: 100%;
    text-align: center;
}

.logo {
    padding: 1em 0;
    width: 45%;
    max-width: 150px;
    height: auto;
}
.nav-area {
    width: 70%;
    height: 100%;
}

nav, ul, a {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease-in;
}

a:hover {
    background-color: black;
    color: #fff;
    font-size: 1.2em;
}

.links {
    text-transform: uppercase;
    font-size: 1.10em;
    padding: 0 2em 0 2em;
}

.inicio {
    height: 900px;
    background-color: rebeccapurple;
}